<nav class="flex items-center bg-secondary-900 h-[48px] border-bottom border-solid border-b-2 border-secondary-100 font-oswald uppercase subpixel-antialiased text-2xl font-semibold">
  <span class="md:pl-3 pl-3 text-secondary-100">WYE
  </span>
  <span class="text-primary-600">DOCS
  </span>
</nav>
<div></div>
